<h2 id="title">ember-concurrency examples</h2>
<ul>
  <li>{{link-to 'Counter' 'counter'}}</li>
  <li>{{link-to 'Canceling' 'canceling'}}</li>
  <li>{{link-to 'State' 'state'}}</li>
  <li>{{link-to 'Managing' 'management'}}</li>
  <li>
    <a href='http://ember-concurrency.com/#/docs/task-concurrency-advanced'
      target='_blank'>
      Maximum concurrency
    </a>
  </li>
</ul>
{{outlet}}
